
# ▄▀▄ █   █ ▄▀▄ ▄▀▀
# █▀█ █▄▄ █ █▀█ ▄██
# For full list of aliases: Run 'alias'

# ▄▀▀ ▀▄▀ ▄▀▀ ▀█▀ ██▀ █▄ ▄█
# ▄██  █  ▄██  █  █▄▄ █ ▀ █
alias c="clear"
alias q="exit"
alias sd="cd /sdcard"
alias pf="cd $PREFIX"

# █▀▄ ▄▀▄ ▄▀▀ █▄▀ ▄▀▄ ▄▀  ██▀
# █▀  █▀█ ▀▄▄ █ █ █▀█ ▀▄█ █▄▄
alias pacupg="pkg upgrade"
alias pacupd="pkg update"
alias pacupgupd="pkg update && pkg upgrade"

# █▀▄ █ █▀▄ ██▀ ▄▀▀ ▀█▀ ▄▀▄ █▀▄ ▀▄▀
# █▄▀ █ █▀▄ █▄▄ ▀▄▄  █  ▀▄▀ █▀▄  █ 
#Photos
alias ss="cd /sdcard/Pictures/Screenshots/"
#Movies
alias ms="cd /sdcard/Movies"
#Downloads
alias dl="cd /sdcard/Download"
#Documents
alias ds="cd /sdcard/Documents"
#Dev
alias dev="cd /sdcard/Dev"

# ▄▀▀ ▀▄▀ ▄▀▀ ▀█▀ ██▀ █▄ ▄█   █ █▄ █ █▀ ▄▀▄
# ▄██  █  ▄██  █  █▄▄ █ ▀ █   █ █ ▀█ █▀ ▀▄▀
alias neo="neofetch"
alias neodebug="bash ~/.config/neofetch/debug-logo.sh $1"
alias disk="bash ~/.scripts/system/fetch.sh storage"
alias battery="bash ~/.scripts/system/fetch.sh battery"
alias ls="exa --icons"
alias la="exa --icons -lgha --group-directories-first"
alias lt="exa --icons --tree"
alias lta="exa --icons --tree -lgha"
alias bat="bat --theme OneHalfDark"
alias cat="bat --theme OneHalfDark -p $@"

# █▄ █ ██▀ ▄▀▄ █ █ █ █▄ ▄█
# █ ▀█ █▄▄ ▀▄▀ ▀▄▀ █ █ ▀ █
alias nviminit="nvim ~/.config/nvim/init.lua"
alias nvimtheme="nvim ~/.config/nvim/lua/chadrc.lua"
alias nvimplug="nvim ~/.config/nvim/lua/pluginList.lua"
alias nvimmap="nvim ~/.config/nvim/lua/mappings.lua"
alias nvimpacnit="nvim ~/.config/nvim/lua/packerInit.lua"
alias nvimsin="nvim ~/.config/nvim/lua/core/xshin.lua"
alias nvimhighlight="nvim ~/.config/nvim/lua/hightlights.lua"
alias nvimcore="nvim ~/.config/nvim/lua/core/init.lua"

# ▀█▀ ▄▀▀ █▄█
# █▄▄ ▄██ █ █
alias zshconf="nvim ~/.zshrc"

# █▄ █ ██▀ ▄▀▄ █▀ ██▀ ▀█▀ ▄▀▀ █▄█
# █ ▀█ █▄▄ ▀▄▀ █▀ █▄▄  █  ▀▄▄ █ █
alias neoconf="nvim ~/.config/neofetch/config.conf"
alias rxconf="nvim ~/.local/bin/rxfetch"
alias neoscript="nvim ~/.config/neofetch/script.sh"
alias fetch="bash ~/.scripts/system/fetch.sh $@"
alias fetchconf="nvim ~/.scripts/system/fetch.sh"

# ▄▀▄ █   █ ██▀ ▄▀▀ ▄▀▄ █▄ ▄█ ██▀ ▄▀▀ █▄█ ▄▀▄ ▀█▀
# █▀█ ▀▄▀▄▀ █▄▄ ▄██ ▀▄▀ █ ▀ █ █▄▄ ▄██ █ █ ▀▄▀  █ 
alias awesomeconf="nvim ~/.config/awesomeshot/awesomeshot.conf"

# ▄▀  █ ▀█▀
# ▀▄█ █  █ 
alias gitgraph="git log --all --decorate --oneline --graph"
alias gitupdate="git fetch && git pull"
alias gitstat="git status"
alias gitadd="git add $@"
alias gitcom="git commit -m '$@'"
alias gitrm="git ls-files --deleted -z | xargs -0 git rm"

# ▀█▀ ▄▀▀ █▄█   █▀▄ ██▀ █   ▄▀▄ ▄▀▄ █▀▄
# █▄▄ ▄██ █ █   █▀▄ █▄▄ █▄▄ ▀▄▀ █▀█ █▄▀
alias refresh="source $HOME/.zshrc"

# ▀█▀ ██▀ █▀▄ █▄ ▄█ █ █ ▀▄▀   ▄▀▀ ██▀ ▀█▀ ▀█▀ █ █▄ █ ▄▀  ▄▀▀
#  █  █▄▄ █▀▄ █ ▀ █ ▀▄█ █ █   ▄██ █▄▄  █   █  █ █ ▀█ ▀▄█ ▄██
alias termconf="nvim ~/.termux/termux.properties"

# Fachafetch
alias rx="~/.scripts/rxfetch"

# neovim {{{
alias v="nvim"
compdef v="nvim"
alias vim="nvim"
compdef vim="nvim"
# }}}

# Exa Settings
#alias ls="exa -lgh --icons --group-directories-first"
#alias la="exa -lgha --icons --group-directories-first"
alias ls="exa --icons --group-directories-first --color=auto"
alias la="exa -a --icons --group-directories-first --color=auto"
